<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">

    <link rel="stylesheet" href="/app.css"> </head>
<body>


<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-6">
            
            <h2>{{exercise.title}}</h2>
            
            <p>Level: {{exercise.level}}</p>

            <div class="text  mt-3">
                {{ exercise.text }}
            </div>

            <div class="editor  mt-3">
                <textarea id="editor">{{exercise.fields.0.value}}</textarea>
            </div>

        </div>
        <div class="controls mt-3">

            <button id="logButton" class="btn btn-primary">Проверить</button>

        </div>

        <div class="col-md-6">
            <div id="test-results"></div>
            <!-- /#test-results -->
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>

<script src="/app.js"></script>

<script>

    async function checkSolution() {
        const taskId = {{exercise.id}};
        const code = editor.getValue();

        try {
            const response = await axios.post(`/check/${taskId}`, code, {
                headers: {
                    'Content-Type': 'text/plain'
                }
            });

            console.log(JSON.stringify(response.data));
            visualizeTestResults(response.data.tests);

        } catch (error) {
            alert("Error checking solution: " + error);
        }
    }


    function visualizeTestResults(results) {

        let html = "";
        results.forEach(test => {
            let icon = test.passed ? '✅' : '❌';
            html += `<p>${icon}${test.title}</p>`;
            if (!test.passed && test.err) {  // Check if there's an error object
                html += `<pre>${test.err.message}</pre>`;
            }
        });
        
        // Assuming you have a dedicated element for showing results in your HTML
        document.getElementById('test-results').innerHTML = html;
    }



    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "javascript" // Or "typescript" if you have the relevant files locally
    });

    document.getElementById('logButton').addEventListener('click', checkSolution);
</script>

</body>
</html>