<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/material-darker.min.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/app.css">
</head>
<body class="bg-[#A8B2CA] h-full">

<div class="m-2 grid grid-cols-3 h-full w-full">

        <main class="m-2 h-full bg-white rounded-xl overflow-hidden">

            <section class="grid  grid-cols-2 p-4 bg-[#EFEFEF] text-[#777]">
                <div class="text-left" >Задание</div>
                <div class="text-right">Cложность</div>
            </section>

            <section class="p-4 bg-[#3CC39E] text-white ">

                Задание выполнено! Код подтверждения: IDDQD

            </section>

            <section  class="bg-grey p-4">

                <h2 class="text-2xl">
                    {{exercise.title}}
                </h2>

                <p>Level: {{exercise.level}}</p>

                <div class="text mt-3">
                    {{{exercise.text}}}
                </div>

                <div class="controls mt-3">
                    <button id="logButton" class="bg-[#3CC39E] text-white px-4 py-2 rounded-lg cursor-pointer">Проверить</button>
                </div>

                <div id="test-results"></div>
                <!-- /#test-results -->

            </section>


        </main>


        <div class="m-2 h-full bg-[#212121] rounded-xl">

            <div class="tabs">
                main.ts
            </div>
            <!-- /.tabs -->

            <div class="editor">
                <textarea id="editor">{{exercise.fields.0.value}}</textarea>
            </div>


        </div>

        <div class="m-2 p-4 h-full bg-white bg-white rounded-xl">

        </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>

<script src="/app.js"></script>

<script>

    async function checkSolution() {
        const taskId = {{exercise.id}};
        const code = editor.getValue();

        try {
            const response = await axios.post(`/check/${taskId}`, code, {
                headers: {
                    'Content-Type': 'text/plain'
                }
            });

            console.log(JSON.stringify(response.data));
            visualizeTestResults(response.data.tests);

        } catch (error) {
            alert("Error checking solution: " + error);
        }
    }


    function visualizeTestResults(results) {

        let html = "";
        results.forEach(test => {
            let icon = test.passed ? '✅ ' : '❌ ';
            html += `<p >${icon}${test.title}</p>`;
            if (!test.passed && test.err) {  // Check if there's an error object
                html += `<pre>${test.err.message}</pre>`;
            }
        });

        // Assuming you have a dedicated element for showing results in your HTML
        document.getElementById('test-results').innerHTML = html;
    }


    var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        matchBrackets: true,
        theme: "material-darker",
        mode: "javascript" // Or "typescript" if you have the relevant files locally
    });

    document.getElementById('logButton').addEventListener('click', checkSolution);

    checkSolution();

</script>

</body>
</html>